.countdown {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(0%,-50%);
}
.test-container {
  position: relative;
}
.controlls {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.display-remain-time {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}


.e-c-base {
  fill: none;
  stroke: #B6B6B6;
  stroke-width: 4px
}

.e-c-progress {
  fill: none;
  stroke: #DA2128;
  stroke-width: 4px;
  transition: stroke-dashoffset 0.7s;
}

.e-c-pointer {
  fill: #FFF;
  stroke: #F7958E;
  stroke-width: 2px;
}

#e-pointer { transition: transform 0.7s; }